<h2> A3 report</h2>

<fieldset>
  <legend> A3 report file</legend>
 <% form_for( [ @a3_report ] , :html => { :multipart => true }) do |f| %>
    <table class="nostyle">
       <tr>
        <td>Country</td>
        <td> <%= f.select :country_code, @countries.map {|c| [c.name , c.code ]},  :id => 'select_country' %></td>
      </tr>

      <tr>
        <td>Date</td>
        <td> <%= date_select('admin_renault_a3_report', 'date', :order => [:month, :day, :year])%></td>
      </tr>

      <tr>
        <td> <%= f.label :excelfiles, "Excel" %></td>
        <td><%= f.file_field :excelfiles %></td>
      </tr>
      <tr>
        <td><%= f.submit 'Upload' %></td>
      </tr>
    </table>
  <% end %>
</fieldset>

<div id="aside" class="box">
  <p id="btn-create" class="box">
    <%= link_to '<span>Back</span>', admin_renault_a3_reports_path %>
  </p>
</div>