<p>
  <b>Zone:</b>
  <%=h @outlet.zone %>
</p>

<p>
  <b>Dealer num:</b>
  <%=h @outlet.dealer_num %>
</p>

<p>
  <b>Dealer ship name:</b>
  <%=h @outlet.dealer_ship_name %>
</p>

<p>
  <b>Outlet name:</b>
  <%=h @outlet.outlet_name %>
</p>

<p>
  <b>Address:</b>
  <%=h @outlet.address %>
</p>

<p>
  <b>Zip:</b>
  <%=h @outlet.zip %>
</p>

<p>
  <b>Place:</b>
  <%=h @outlet.place %>
</p>

<p>
  <b>Contract partner:</b>
  <%=h @outlet.contract_partner %>
</p>

<p>
  <b>Main delivery:</b>
  <%=h @outlet.main_delivery %>
</p>

<p>
  <b>Urgent track:</b>
  <%=h @outlet.urgent_track %>
</p>


<%= link_to 'Edit', edit_admin_outlet_path(@outlet) %> |
<%= link_to 'Back', admin_outlets_path %>