<h2>Car sales</h2>

<fieldset>
  <legend>Car sales file</legend>
  <% form_for( [ @car_sale ] , :html => { :multipart => true }) do |f| %>
    <table class="nostyle">
      <tr>
        <td> Date </td>
        <td><%= date_select('admin_renault_car_sale', 'date', :order => [:month, :day, :year])%></td>
      </tr>

      <tr>
        <td> <%= f.label :excelfiles, "Excel" %></td>
        <td><%= f.file_field :excelfiles %></td>
      </tr>
      <tr>
        <td><%= f.submit 'Upload' %></td>
      </tr>
    </table>
  <% end %>
</fieldset>

  <div id="aside" class="box">
    <p id="btn-create" class="box">
      <%= link_to '<span>Back</span>', admin_renault_car_sales_path %>
    </p>
  </div>