

<ul >
   <li class="<%=  submenu('target_achievements') %>"><%= link_to '<span>Target achivement</span>', output_target_achievements_path %></li>
   <li class="<%=  submenu('axs_to_newcars') %>"><%= link_to '<span>' + I18n.t('menu.right_side.axs_to_newcars') +  '</span>', output_axs_to_newcars_path %></li>
   <li class="<%=  submenu('cmp_cmpes') %>"><%= link_to '<span>' + I18n.t('menu.right_side.cmp') +  '</span>', output_cmp_cmpes_path %></li>

   <li class="<%=  submenu('cmp_bodies') %>"><%= link_to '<span>' + I18n.t('menu.right_side.cmp_bodies') +  '</span>', output_cmp_bodies_path %></li>
   <li class="<%=  submenu('cmp_es') %>"><%= link_to '<span>' + I18n.t('menu.right_side.cmp_es') +  '</span>', output_cmp_es_path %></li>
   <li class="<%=  submenu('cmp_eues') %>"><%= link_to '<span>' + I18n.t('menu.right_side.cmp_eu') +  '</span>', output_cmp_eues_path %></li>
   <li class="<%=  submenu('workshops_frequentations') %>"><%= link_to '<span>TFA</span>', output_workshops_frequentations_path %></li>
   <li class="<%=  submenu('parts_urgent_orders') %>"><%= link_to '<span>Parts urgent orders</span>', output_parts_urgent_orders_path %></li>
   <li class="<%=  submenu('windscreens') %>"><%= link_to '<span>Windscreens</span>', output_windscreens_path %></li>
   <li class="<%=  submenu('workshop_entries') %>"><%= link_to '<span>Workshop entries</span>', output_workshop_entries_path %></li>
   <li class="<%=  submenu('to_motrio_by_eues') %>"><%= link_to '<span>TO Motrio / TO E&U </span>', output_to_motrio_by_eues_path %></li>
   <li class="<%=  submenu('local_axs_toes') %>"><%= link_to '<span>Local AXS TO/ AXS TO</span>', output_local_axs_toes_path %></li>


   <li class="<%=  submenu('wholesales') %>"><%#= link_to '<span>Wholesale_TO</span>', output_wholesales_path %></li>
   <li class="<%=  submenu('service_contract_penetrations') %>"><%#= link_to '<span>Service contract penetrations</span>', output_service_contract_penetrations_path %></li>
   <li class="<%=  submenu('tires') %>"><%#= link_to '<span>K/00 Tires</span>', output_tires_path %></li>
   <li class="<%=  submenu('tires_mounting_rates') %>"><%#= link_to '<span>Tires mounting rate</span>', output_tires_mounting_rates_path %></li>

</ul>

